In [1]:
print("hii bigdata")

hii bigdata

In [3]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 59 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 64.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=a8c3cee59b834d6dd82ea8bbf19ffb3d130ce492f24a0246cd49da664703014f
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [4]:
import pyspark

In [ ]:
import pandas as pd
data=pd.read_csv("/content/data.csv")
data.head()

    Name   Age  Experience
0   Sneh    21           2
1  Sapna    20           3
2   Ajay    45           4
3   Neha    22           5
4   Ashu    21           6

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv("/content/data.csv")

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [ ]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
| Name |Age|
| Sneh | 21|
|Sapna | 20|
| Ajay | 45|
| Neha | 22|
| Ashu | 21|
|  Ishu| 21|
|  Aadi| 29|
+------+---+

In [ ]:
df=spark.read.option('header','true').csv("/content/data.csv")

In [ ]:
df.show()

+------+---+
| Name |Age|
+------+---+
| Sneh | 21|
|Sapna | 20|
| Ajay | 45|
| Neha | 22|
| Ashu | 21|
|  Ishu| 21|
|  Aadi| 29|
+------+---+

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head(3)

[Row(Name ='Sneh ', Age='21'),
 Row(Name ='Sapna ', Age='20'),
 Row(Name ='Ajay ', Age='45')]

In [ ]:
df.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)

# tute 1

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DataFrame').getOrCreate()
spark

In [ ]:
spark

In [ ]:
df=spark.read.option('header','true').csv("/content/data.csv",inferSchema=True)

In [ ]:
df.show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
| Sneh | 21|         2|
|Sapna | 20|         3|
| Ajay | 45|         4|
| Neha | 22|         5|
| Ashu | 21|         6|
|  Ishu| 21|         7|
|  Aadi| 29|         8|
+------+---+----------+

In [ ]:
df.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df.columns

['Name ', 'Age', 'Experience']

In [ ]:
df.select("Age").show()

+---+
|Age|
+---+
| 21|
| 20|
| 45|
| 22|
| 21|
| 21|
| 29|
+---+

In [ ]:
type(df.select("Age"))

pyspark.sql.dataframe.DataFrame

In [ ]:
df.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df.describe().show()

+-------+-----+------------------+-----------------+
|summary|Name |               Age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    7|                 7|                7|
|   mean| null|25.571428571428573|              5.0|
| stddev| null| 9.089502055616007|2.160246899469287|
|    min| Aadi|                20|                2|
|    max|Sneh |                45|                8|
+-------+-----+------------------+-----------------+

In [ ]:
df=df.withColumn("Extra ",df['Experience']+2)

In [ ]:
df.show()

+------+---+----------+------+
| Name |Age|Experience|Extra |
+------+---+----------+------+
| Sneh | 21|         2|     4|
|Sapna | 20|         3|     5|
| Ajay | 45|         4|     6|
| Neha | 22|         5|     7|
| Ashu | 21|         6|     8|
|  Ishu| 21|         7|     9|
|  Aadi| 29|         8|    10|
+------+---+----------+------+

In [ ]:
df=df.drop('Extra')

In [ ]:
df.show()

+------+-------+----------+------+
| Name |New Age|Experience|Extra |
+------+-------+----------+------+
| Sneh |     21|         2|     4|
|Sapna |     20|         3|     5|
| Ajay |     45|         4|     6|
| Neha |     22|         5|     7|
| Ashu |     21|         6|     8|
|  Ishu|     21|         7|     9|
|  Aadi|     29|         8|    10|
+------+-------+----------+------+

In [ ]:
df=df.withColumnRenamed('Age','New Age')

In [ ]:
df.show()

+------+-------+----------+------+
| Name |New Age|Experience|Extra |
+------+-------+----------+------+
| Sneh |     21|         2|     4|
|Sapna |     20|         3|     5|
| Ajay |     45|         4|     6|
| Neha |     22|         5|     7|
| Ashu |     21|         6|     8|
|  Ishu|     21|         7|     9|
|  Aadi|     29|         8|    10|
+------+-------+----------+------+

#Tute2

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('handlemissingvalue').getOrCreate()

In [ ]:
spark

In [ ]:
df=spark.read.csv("/content/data.csv",header=True,inferSchema=True)

In [ ]:
df.show()

+------+----+----------+------+
| Name | Age|Experience|Saliry|
+------+----+----------+------+
| Sneh |  21|         2| 50000|
|Sapna |  20|      null| 40000|
| Ajay |  45|         4| 20000|
| Neha |null|         5| 10000|
| Ashu |  21|         6| 25000|
|  Ishu|  21|         7|  null|
|  Aadi|  29|         8| 35000|
+------+----+----------+------+

In [ ]:
df.na.drop().show()

+-----+---+----------+------+
|Name |Age|Experience|Saliry|
+-----+---+----------+------+
|Sneh | 21|         2| 50000|
|Ajay | 45|         4| 20000|
|Ashu | 21|         6| 25000|
| Aadi| 29|         8| 35000|
+-----+---+----------+------+

In [ ]:
df.show()

+------+----+----------+------+
| Name | Age|Experience|Saliry|
+------+----+----------+------+
| Sneh |  21|         2| 50000|
|Sapna |  20|      null| 40000|
| Ajay |  45|         4| 20000|
| Neha |null|         5| 10000|
| Ashu |  21|         6| 25000|
|  Ishu|  21|         7|  null|
|  Aadi|  29|         8| 35000|
+------+----+----------+------+

In [ ]:
df.na.drop(how="all").show()

+------+----+----------+------+
| Name | Age|Experience|Saliry|
+------+----+----------+------+
| Sneh |  21|         2| 50000|
|Sapna |  20|      null| 40000|
| Ajay |  45|         4| 20000|
| Neha |null|         5| 10000|
| Ashu |  21|         6| 25000|
|  Ishu|  21|         7|  null|
|  Aadi|  29|         8| 35000|
+------+----+----------+------+

In [ ]:
df.na.drop(how="any",thresh=1).show()

+------+----+----------+------+
| Name | Age|Experience|Saliry|
+------+----+----------+------+
| Sneh |  21|         2| 50000|
|Sapna |  20|      null| 40000|
| Ajay |  45|         4| 20000|
| Neha |null|         5| 10000|
| Ashu |  21|         6| 25000|
|  Ishu|  21|         7|  null|
|  Aadi|  29|         8| 35000|
+------+----+----------+------+

In [ ]:
df.na.drop(how="any",subset=['Experience']).show()

+-----+----+----------+------+
|Name | Age|Experience|Saliry|
+-----+----+----------+------+
|Sneh |  21|         2| 50000|
|Ajay |  45|         4| 20000|
|Neha |null|         5| 10000|
|Ashu |  21|         6| 25000|
| Ishu|  21|         7|  null|
| Aadi|  29|         8| 35000|
+-----+----+----------+------+

fill

In [ ]:
df.na.fill("missing ",["Age","Experience","Saliry"]).show()

+------+----+----------+------+
| Name | Age|Experience|Saliry|
+------+----+----------+------+
| Sneh |  21|         2| 50000|
|Sapna |  20|      null| 40000|
| Ajay |  45|         4| 20000|
| Neha |null|         5| 10000|
| Ashu |  21|         6| 25000|
|  Ishu|  21|         7|  null|
|  Aadi|  29|         8| 35000|
+------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer=Imputer(inputCols=['Age','Experience','Saliry'],
                outputCols=["{} _imputed".format(c) for c in ["Age","Experience","Saliry"]]).setStrategy("mode")

In [ ]:
imputer.fit(df).transform(df).show()

+------+----+----------+------+------------+-------------------+---------------+
| Name | Age|Experience|Saliry|Age _imputed|Experience _imputed|Saliry _imputed|
+------+----+----------+------+------------+-------------------+---------------+
| Sneh |  21|         2| 50000|          21|                  2|          50000|
|Sapna |  20|      null| 40000|          20|                  2|          40000|
| Ajay |  45|         4| 20000|          45|                  4|          20000|
| Neha |null|         5| 10000|          21|                  5|          10000|
| Ashu |  21|         6| 25000|          21|                  6|          25000|
|  Ishu|  21|         7|  null|          21|                  7|          10000|
|  Aadi|  29|         8| 35000|          29|                  8|          35000|
+------+----+----------+------+------------+-------------------+---------------+

# tute 3 fillter Operation

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("Filter").getOrCreate()

In [ ]:
spark

In [ ]:
df=spark.read.csv("/content/data.csv",header=True,inferSchema=True)

In [ ]:
df.show()

+------+---+----------+------+
| Name |Age|Experience|Saliry|
+------+---+----------+------+
| Sneh | 21|         2| 50000|
|Sapna | 20|         3| 40000|
| Ajay | 45|         4| 20000|
| Neha | 22|         5| 10000|
| Ashu | 21|         6| 25000|
|  Ishu| 21|         7| 19000|
|  Aadi| 29|         8| 35000|
+------+---+----------+------+

In [ ]:
df.filter("Saliry>=20000").show()

+------+---+----------+------+
| Name |Age|Experience|Saliry|
+------+---+----------+------+
| Sneh | 21|         2| 50000|
|Sapna | 20|         3| 40000|
| Ajay | 45|         4| 20000|
| Ashu | 21|         6| 25000|
|  Aadi| 29|         8| 35000|
+------+---+----------+------+

In [ ]:
df.filter("Saliry>=20000").select(["Name ", "Age"]).show()

+------+---+
| Name |Age|
+------+---+
| Sneh | 21|
|Sapna | 20|
| Ajay | 45|
| Ashu | 21|
|  Aadi| 29|
+------+---+

In [ ]:
df.filter((df["Saliry"]<=20000) & (df["Saliry"]>=15000)).show()

+-----+---+----------+------+
|Name |Age|Experience|Saliry|
+-----+---+----------+------+
|Ajay | 45|         4| 20000|
| Ishu| 21|         7| 19000|
+-----+---+----------+------+

In [ ]:
df.filter(("Saliry>=20000")).show()

+------+---+----------+------+
| Name |Age|Experience|Saliry|
+------+---+----------+------+
| Sneh | 21|         2| 50000|
|Sapna | 20|         3| 40000|
| Ajay | 45|         4| 20000|
| Ashu | 21|         6| 25000|
|  Aadi| 29|         8| 35000|
+------+---+----------+------+

# tute 4 aggrigate Functon

In [ ]:
df_s=spark.read.csv("/content/data_sneh.csv",header=True,inferSchema=True)

In [ ]:
df_s.show()

+------+-------+------+
| Name |   Dept|Saliry|
+------+-------+------+
| Sneh |    cse| 50000|
|Sapna |bigdata| 40000|
| Ajay |     ds| 20000|
| Neha |    cse| 10000|
| Ashu |     ds| 25000|
|  Ishu|     se| 19000|
|  Aadi|bigdata| 35000|
+------+-------+------+

In [ ]:
df_s.groupBy("Name ").sum().show()

+------+-----------+
| Name |sum(Saliry)|
+------+-----------+
| Sneh |      50000|
| Ajay |      20000|
|Sapna |      40000|
|  Aadi|      35000|
|  Ishu|      19000|
| Neha |      10000|
| Ashu |      25000|
+------+-----------+

In [ ]:
df_s.groupBy("Dept").sum().show()

+-------+-----------+
|   Dept|sum(Saliry)|
+-------+-----------+
|     ds|      45000|
|bigdata|      75000|
|    cse|      60000|
|     se|      19000|
+-------+-----------+

# tute 5 ml

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("ml pr").getOrCreate()

In [ ]:
training=spark.read.csv("/content/data.csv",header=True,inferSchema=True)

In [ ]:
training.show()

+-------+---+----------+------+
|  Name |Age|Experience|Saliry|
+-------+---+----------+------+
|  Sneh | 21|         2| 50000|
| Sapna | 20|         3| 40000|
|  Ajay | 45|         4| 20000|
|  Neha | 22|         5| 10000|
|  Ashu | 21|         6| 25000|
|   Ishu| 21|         7| 19000|
|   Aadi| 29|         8| 35000|
|  silvi| 22|         3| 45000|
|shristi| 22|         4| 35000|
|  vasu | 23|         5| 40000|
+-------+---+----------+------+

In [ ]:
training.show()

+-------+---+----------+------+
|  Name |Age|Experience|Saliry|
+-------+---+----------+------+
|  Sneh | 21|         2| 50000|
| Sapna | 20|         3| 40000|
|  Ajay | 45|         4| 20000|
|  Neha | 22|         5| 10000|
|  Ashu | 21|         6| 25000|
|   Ishu| 21|         7| 19000|
|   Aadi| 29|         8| 35000|
|  silvi| 22|         3| 45000|
|shristi| 22|         4| 35000|
|  vasu | 23|         5| 40000|
+-------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Saliry: integer (nullable = true)

In [ ]:
training.columns

['Name ', 'Age', 'Experience', 'Saliry']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
featureassembler=VectorAssembler(inputCols=['Age','Experience'],outputCol='Indepent Features')

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+-------+---+----------+------+-----------------+
|  Name |Age|Experience|Saliry|Indepent Features|
+-------+---+----------+------+-----------------+
|  Sneh | 21|         2| 50000|       [21.0,2.0]|
| Sapna | 20|         3| 40000|       [20.0,3.0]|
|  Ajay | 45|         4| 20000|       [45.0,4.0]|
|  Neha | 22|         5| 10000|       [22.0,5.0]|
|  Ashu | 21|         6| 25000|       [21.0,6.0]|
|   Ishu| 21|         7| 19000|       [21.0,7.0]|
|   Aadi| 29|         8| 35000|       [29.0,8.0]|
|  silvi| 22|         3| 45000|       [22.0,3.0]|
|shristi| 22|         4| 35000|       [22.0,4.0]|
|  vasu | 23|         5| 40000|       [23.0,5.0]|
+-------+---+----------+------+-----------------+

In [ ]:
f_data=output.select('Indepent Features','Saliry')

In [ ]:
f_data.show()

+-----------------+------+
|Indepent Features|Saliry|
+-----------------+------+
|       [21.0,2.0]| 50000|
|       [20.0,3.0]| 40000|
|       [45.0,4.0]| 20000|
|       [22.0,5.0]| 10000|
|       [21.0,6.0]| 25000|
|       [21.0,7.0]| 19000|
|       [29.0,8.0]| 35000|
|       [22.0,3.0]| 45000|
|       [22.0,4.0]| 35000|
|       [23.0,5.0]| 40000|
+-----------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train,test=f_data.randomSplit([0.70,0.30])
ress=LinearRegression(featuresCol='Indepent Features',labelCol='Saliry')
ress=ress.fit(train)

In [ ]:
ress.coefficients

DenseVector([3426.8293, -6772.9831])

In [ ]:
ress.intercept

-11476.547842401123

In [ ]:
pred=ress.evaluate(test)

In [ ]:
pred

In [ ]:
pred.predictions.show()

+-----------------+------+------------------+
|Indepent Features|Saliry|        prediction|
+-----------------+------+------------------+
|       [21.0,6.0]| 25000|19848.968105065695|
|       [22.0,3.0]| 45000| 43594.74671669793|
|       [22.0,4.0]| 35000|36821.763602251405|
|       [45.0,4.0]| 20000|115638.83677298272|
+-----------------+------+------------------+

# Tute6

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("LRALGo").getOrCreate()

In [7]:
spark

In [8]:
df=spark.read.csv("/content/tips.csv",header=True,inferSchema=True)

In [9]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [11]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [12]:
from pyspark.ml.feature import StringIndexer

In [14]:
index=StringIndexer(inputCols=['sex','smoker','day','time'],outputCols=['sex_in','smoker_in','day_in','time_in'])

In [15]:
df_r=index.fit(df).transform(df
                             )

In [16]:
df_r.show()

+----------+----+------+------+---+------+----+------+---------+------+-------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_in|smoker_in|day_in|time_in|
+----------+----+------+------+---+------+----+------+---------+------+-------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|   1.0|      0.0|   1.0|    0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|   1.0|      0.0|   1.0|    0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|   1.0|      0.0|   1.0|    0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|   1.0|      0.0|   1.0|    0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|   1.0|      0.0|   1.0|    0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|   1.0|      0.0|   1.0|    0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|   0.0|      0.0|   0.0|    0.0|
+----------+----+------+------+---+------+----+------+---------+------+-------+
only showing top 20 rows

In [17]:
from pyspark.ml.feature import VectorAssembler

In [18]:
df_r.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'sex_in',
 'smoker_in',
 'day_in',
 'time_in']

In [19]:
featureassembler=VectorAssembler(inputCols=['tip','size','sex_in','smoker_in','day_in','time_in'],outputCol='Indepent Features')

In [20]:
output=featureassembler.transform(df_r)

In [21]:
output.show()

+----------+----+------+------+---+------+----+------+---------+------+-------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_in|smoker_in|day_in|time_in|   Indepent Features|
+----------+----+------+------+---+------+----+------+---------+------+-------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|   1.0|      0.0|   1.0|    0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|   1.0|      0.0|   1.0|    0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|   1.0|      0.0|   1.0|    0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|   0.0|      0.0|   1.0|    0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|   1.0|      0.0|   1.0|    0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|   0.0|      0.0|   1.0|    0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|   1.0|      0.0|   1.0|    0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|   0.0|      0.0|   1.0|    0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|   1.0|      0.0|   1.0|    0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|   0.0|      0.0|   0.0|    0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+------+---------+------+-------+--------------------+
only showing top 20 rows

In [22]:
final_data=output.select('Indepent Features','total_bill')

In [23]:
final_data.show()

+--------------------+----------+
|   Indepent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [25]:
from pyspark.ml.regression import LinearRegression
train,test=final_data.randomSplit([0.75,0.25])
ress=LinearRegression(featuresCol='Indepent Features',labelCol='total_bill')
ress=ress.fit(train)

In [26]:
ress.coefficients

DenseVector([2.9496, 3.8904, -1.5189, 2.1893, -0.1434, -1.227])

In [27]:
ress.intercept

1.2342281673165831

In [28]:
pred_results=ress.evaluate(test)

In [29]:
pred_results.predictions.show()

+--------------------+----------+------------------+
|   Indepent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.97,2.0])|     12.02|14.825748760896708|
| (6,[0,1],[2.0,3.0])|     16.31|18.804673381061423|
|(6,[0,1],[2.31,3.0])|     18.69| 19.71903888865709|
|(6,[0,1],[2.34,4.0])|     17.81|23.697963508821804|
|(6,[0,1],[2.72,2.0])|     13.28|  17.0379233760475|
|(6,[0,1],[3.15,3.0])|     20.08|22.196674457625978|
| (6,[0,1],[3.6,3.0])|     24.06|23.523979226716456|
|[1.0,1.0,1.0,0.0,...|      7.25|6.5553733580783735|
|[1.0,2.0,0.0,1.0,...|      12.6|14.153970904341362|
|[1.48,2.0,0.0,0.0...|      8.52|11.866656886738353|
|[1.5,2.0,0.0,1.0,...|     12.03|15.198547378055336|
|[1.5,2.0,1.0,0.0,...|     26.41|11.920594070404254|
|[1.56,2.0,0.0,0.0...|      9.94|13.473024436929867|
|[1.8,2.0,1.0,0.0,...|     12.43| 11.29165945753807|
|[1.83,1.0,1.0,0.0...|     10.07| 7.489708806585417|
|[2.0,2.0,0.0,0.0,...|     13.13|14.770833544484999|
|[2.0,2.0,0.0,0.0,...|     15.95|13.400431286576238|
|[2.0,2.0,0.0,1.0,...|     13.81|17.103537057875755|
|[2.0,2.0,0.0,1.0,...|     13.51|15.589732598949254|
|[2.0,2.0,1.0,1.0,...|      13.0|14.070874000617966|
+--------------------+----------+------------------+
only showing top 20 rows

In [30]:
pred_results.r2

0.5044393276363297

In [31]:
pred_results.meanAbsoluteError

3.490726169635357

In [32]:
pred_results.meanSquaredError

21.974404311492652